{% extends 'base.html' %}
{% block title %} Dronacharya | Meetings {% endblock %}

{% block body %}
<h1> Meeting </h1>
    {% if user.is_authenticated %}
{% for meeting in meetings %}
    <ul>
        {% if user in meeting.subject.enrolled.all %}
            <li>
                <h3>{{ meeting.subject }}</h3>
                <p> {{ meeting.description }} </p>
                <p> {{ meeting.time }} </p>
                <a href="{{ meeting.meeting_link }}">Join Meeting</a>
            </li>

        {% endif %}
    </ul>

{% endfor %}
    {% else %}
    <h1> Please Login</h1>
    {% endif %}
{% endblock %}