{% extends 'base.html' %}
{% block title %} Dronacharya | E-Learning Platform {% endblock %}

{% block style %}
    <style>
        .subject {
            display: inline-block;
            margin: 1rem 0.5rem;
            padding: 1rem;
            background-color: #228B22;
            border-radius: 1rem;
            width: 200px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
            color: #262626;
        }
        .subject h4{
            text-decoration: none;
            color: #ffffff;
        }
    </style>
{% endblock %}

{% block body %}

    {% if user.is_authenticated %}
{% for subject in subjects %}
    <div class="subject">
            <h4>{{ subject.title }}</h4>
            <p> {{ subject.description }} </p>
            {% if user in subject.enrolled.all %}
            <a role="button" class="btn btn-primary" href="{% url 'join' subject.pk %}">Remove</a>
            {% else %}
            <a role="button" class="btn btn-primary" href="{% url 'join' subject.pk %}">Join</a>
            {% endif %}
    </div>

{% endfor %}
{% else %}
Please Login
    {% endif %}
{% endblock %}