<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dronacharya</title>
</head>
<body>
<h1> Welcome to Dronacharya</h1>
<h3> World's No. 1 e-Learning Platform</h3>

{% if user.is_authenticated %}
    <h3> Welcome {{ request.user.first_name }}</h3>
    <h2> Subject Enrolled </h2>

    {% for subject in enrolled_subject %}
        <ul>
            <li>
                <h4> {{ subject.title }} </h4>
                <p> {{ subject.description }} </p>
                <a href="{% url 'join' subject.pk %}">Remove</a>
            </li>
        </ul>

    {% endfor %}

    <a href="{% url 'quiz_home' %}"><h3> Quiz </h3></a>
    <a href="{% url 'available_subject' %}"><h3> Find a Subject to join </h3></a>
    <a href="{% url 'handle_logout' %}"><h3>Logout</h3></a>
{% else %}
    <div>
        <a href="{% url 'handle_signup' %}"><h3> Signup </h3></a>
    </div>
    <div>
        <a href="{% url 'handle_login' %}"><h3> Login </h3></a>
    </div>


{% endif %}

</body>
</html>